body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
}

.header-parent {
    background-color: #222;
    height: 120px;
    top: 0;
    color: #fff;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-parent h1 {
    margin: 0;
    font-size: 24px;
    line-height: 40px;
}

.header-child {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    background-color: #555;
    height: 80px;
    color: #fff;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-child h2 {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.header-grandchild {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    background-color: #888;
    height: 40px;
    color: #fff;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-grandchild h3 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.header-content {
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #ccc;
}
