body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.header-content {
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #ccc;
}

table, th, td {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="radio"], button {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
